/.nyc_output
/coverage
/dist
/node_modules
/assets
!/docs/.vitepress
/docs/.vitepress/dist
/docs/.vitepress/cache
/docs/.vitepress/build-system/shim
/fixtures
/tests/lib/styles/fixtures
/package-lock.json
!/.github
!/.vscode
