language: node_js
cache:
  npm: false
matrix:
  include:
    - node_js: "node"
      env: CI=coverage
    - node_js: "8"
      env: DEPS=eslint6
    - node_js: "8"
      env: DEPS=low
    - node_js: "10"
    - node_js: "12"
    - node_js: "13"
    - node_js: "14"
      env: LINT=true
before_install:
  - if [ "$DEPS" = "low" ]; then npm i -S eslint@5.0.0 eslint-plugin-vue@5.0.0 vue-eslint-parser@5.0.0; fi
  - if [ "$DEPS" = "eslint6" ]; then npm i -S eslint@6.0.0; fi
before_script:
  - if [ "$LINT" = "true" ]; then npm i; fi
  - if [ "$LINT" = "true" ]; then npm run lint; fi
before_deploy:
  - npm run build
deploy:
  skip_cleanup: true
  provider: script
  script: sh $TRAVIS_BUILD_DIR/deploy.sh
  on:
    tags: true
notifications:
  email: false
after_success:
  - if [ "$CI" = "coverage" ]; then npm install coveralls --no-save && cat ./coverage/lcov.info | ./node_modules/.bin/coveralls; fi
